header {
  background-color: #444;
  color: white;
  width: 100%;
  padding: 40px;
}
.header-part {
  /*  border:1px solid white; */
  width: 80%;
  margin: auto;
  display: flex;
}
div.header-Title {
  /* border:1px solid black; */
  flex-basis: 50%;
}
.header-Title img {
  width: 100%;
  height: 100%;
}
.header-Title p {
  font-size: calc(0.8vw + 14px);
  color: #ebe7e772;
}
.header-Title p > span {
  color: white;
}
/* learn button*/
.learn-btn {
  height: 6vh;
  width: 16vw;
  background: linear-gradient(45deg, #458ed3 0%, #73a3d1 100%);
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  line-height: 6vh;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: inset -1px 2px 5px 2px rgba(255, 255, 255, 0.55);
}
.learn-btn:hover {
  background-color: #5fa4e4;
  transition: 100ms ease-in-out;
  box-shadow: 43px 29px 118px -42px rgba(0, 0, 0, 0.75);
}
/* get start button*/
.btn-white {
  /* height:calc( 6vh + 15px);
  width: calc(16vw + 10px); */
  padding: 10px 30px;
  background-color: #f0f5ef;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  line-height: 6vh;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-white:hover {
  background-color: #ffffff;
  transition: 100ms ease-in-out;
  box-shadow: 43px 29px 118px -42px rgba(0, 0, 0, 0.75);
}

.header-box {
  height: 100px;
  background-color: rgb(65, 65, 65);
  width: 100%;
  margin: auto;
}

.header-box p {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}

/* box shadow  */
.box-shadow {
  top: 40px;
  margin: auto;
  background: linear-gradient(45deg, #458ed3 0%, #73a3d1 100%);
  width: 80vw;
  height: 100px;
  display: flex;
  position: relative;
  padding: 0 2vw 0 4vw;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}

.box-shadow::after {
  border-style: solid;
  border-width: 80px 80px 0 0;
  border-color: #458ed3 transparent transparent transparent;
  top: 100px;
  content: "";
  position: absolute;
  left: 0px;
  width: 0;
  height: 0;
}

.bg-pattern img {
  position: relative;
  height: 10px;
  width: 200%;
  background-size: 30px 30px;
  margin: auto;
  background-position: center;
  margin-top: 40px;
  z-index: -1;
}

@media only screen and(max-width:1024px) {
  .header-part {
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #404040;
    width: 100%;
    color: #fff;
    justify-content: center;
    padding-bottom: 2vh;
  }

.header-part .header-Title{
   display: flex;
            margin:auto;
            flex-direction: column;
            justify-content: space-around;
            text-shadow: 1px 2px 6px rgba(0,0,0,0.37);
            text-align: center;
            margin-bottom:3vh;
}

.header-part .header-Title h1{
  margin-bottom: 4vh;
}

.header-part .header-box img{
  width:30vw;
                min-width:300px;
}










}
